<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/dashboard.css' %}">
</head>

<body>
    <div class="container">
        <h1 class="title">Blog Posts</h1>
        <ul class="blog-list">
            {% for blog in blogs %}
            <li class="blog-card">
                <h5 class="blog-author">Author</h5> 
                <p class="author-name">{{ blog.author }}</p>

                <h5 class="blog-content">Post</h5> 
                <p class="post-text">{{ blog.content }}</p>

                <p class="likes">Likes: {{ blog.likes }}</p>
                <p class="dislikes">Dislikes: {{ blog.dislikes }}</p>

                <h5 class="date-posted">Date Posted</h5> 
                <p class="date">{{ blog.created }}</p>

                <form action="{% url 'like_post' blog.id %}" method="POST" class="like-form">
                    {% csrf_token %}
                    <button type="submit" class="like-btn">Like</button>
                </form>

                <form action="{% url 'dislike_post' blog.id %}" method="POST" class="dislike-form">
                    {% csrf_token %}
                    <button type="submit" class="dislike-btn">Dislike</button>
                </form>

                {% if blog.author == request.user %}
                    <a href="{% url 'edit_post' blog.id %}" class="edit-link">Edit Post</a>
                {% endif %}

            </li>
            {% endfor %}
        </ul>

        <div class="actions">
            <a href="{% url 'upload_post' %}" class="action-link">Upload a Post</a>
            <a href="{% url 'my_posts' %}" class="action-link">View my Posts</a>
        </div>
    </div>
</body>
</html>
